<!DOCTYPE html>
<html lang="ar">
<head>
 <!--    -->
  <title>IIE Modifcation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
 <link href="Style/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="Style/StyleCss.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css"/> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!--  Nav Section Start  -->
<nav class="navbar navbar-default navbar-fixed-top">
 <div class="TopSectionAboveNav">

        <div class="col-sm-4" style="display:inline">
       
   <h6 style="float:left; padding-left:0px; width:35%;">920006963 الرقم الموحد</h6>
 
        
        </div>
 
  <!-- <input class="col-sm-2" height="5px" id="searchBox" type="text"> -->
  
     <h6 style="float:right;padding-right:119px"> <span><img src="Images/IIENewLogo.png" /></span></h6>
     <div class="clearfix"></div>
  </div>
  <div class="container">
  
    <div class="navbar-header">
  
 		 <!-- 
       <a href="#myPage">  <span class="glyphicon glyphicon-ok-circle" style="padding-top:25px;font-size:5px"></span></a>
           <a class="" href="#myPage">  <span class="glyphicon glyphicon-cloud"></span></a>
           -->
           <div class="TopnavIcons2">
             <a href=""> <img src="Images/lang.png"></a> 
              <a href=""> <img src="Images/share.png"></a> 
           </div>
       
   
       
        <button type="button" class="navCustomButtonsBlue">الدعم الفني</button>
     
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
     
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage"> <img src="Images/iiesmall.png" /></a>
    </div>
    <div class="collapse navbar-collapse movemetoDir" id="myNavbar">
  
      <ul class="nav navbar-nav navbar-right">
        
        <li style="float:inherit"><a href="Index.html">الرئيسية</a></li>
        <li style="float:inherit" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">عن المعلومات المتكاملة
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="text-align:right;background-color:#CCC">
          <li><a href="AboutCustomers.html">عملاؤنا</a></li>
          <li><a href="IIEPartners.html">شركاؤنا</a></li>
          <li><a href="IIEAwards.html"> الجوائز والأوسمة</a></li> 
             <li><a href="TeamWorkNew.html"> فريق العمل</a></li>
        </ul>
      </li>
        
	 
       
       <li style="float:inherit" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> المنتجات والحلول
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="text-align:right;background-color:#CCC">
          <li><a href="SubPage.html">الانترنت المستمر</a></li>
          <li><a href="Hosting.html">التخزين الآمن</a></li>
          <li><a href="Connection.html">الاتصال المستمر</a></li> 
             <li><a href="SoftAr.html"> سوفتار</a></li>
               <li><a href="ProfesonalServices.html">الخدمات الاحترافية</a></li>
                
        </ul>
      </li>
        
          <li style="float:inherit" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> مشاريعنا 
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="text-align:right;background-color:#CCC">
          <li><a href="ProjectsSub.html">مشروع تصريف السيول بجدة</a></li>
          <li><a href="ProjectsSub -2.html">مشروع الخطوط السعودية</a></li>
          <li><a href="ProjectsSub -3.html"> مشروع امارة مكة المكرمة</a></li> 
             <li><a href="ProjectsSub -4.html">مشروع أرامكو و CHEC</a></li>
               <li><a href="ProjectsSub -5.html">مشروع أرامكو و SEPCO</a></li>
                 <li><a href="ProjectsSub -6.html">  مشروع الانترنت لشركات نسما</a></li>
        </ul>
      </li>
        
       
        
         
        
         <li style="float:inherit"><a href="#">المدونة</a></li>
           <li style="float:inherit"><a href="#">تواصل معنا</a></li>
           
       
      
      
      
       
      
      </ul>
    </div>
  </div>
</nav>
<!--  Nav Section End  -->

<br />
<br />
<br />


<!--  Slider  -->


		<!-- Slider Start -->
 
 <div class="container-fluid SubPageHeaderbg">   
 <div class="row">         
<div class="SubPageHeaderImage">

<div class="NotShowWhenMobile" style="float:left">
<img src="Images/aww.png">

</div>

<div class="SubPageHeaderLIsts MobileSubPageHeader">

<h1 class="SubPageHeadingHeader">الجوائز والأوسمة</h1>





</div>


</div>
</div>

</div>
             

    
    	<!-- Slider End -->


  

<br />
<br />

<!-- Content Inside SubPage-->

<div class="container-fluid TakeitRigh">
<div class="row">
<div class="col-md-3" style="float:right !important">
<div style="direction:rtl;display:inline-block;">

   <ul class="list-unstyled" style="float:right;">

 <li class="list-unstyled"><img src="Images/BlueArrow.png"><a href="AboutCustomers.html" class="LinkCustom" > عملاؤنا</a></li>
  <li class="list-unstyled"><img src="Images/BlueArrow.png"><a href="IIEPartners.html" class="LinkCustom" >شركاؤنا</a></li>
  <li class="list-unstyled"><img src="Images/BlueArrow.png"><a href="IIEAwards.html" class="LinkCustom" > الجوائز والأوسمة</a></li>
  <li class="list-unstyled"><img src="Images/BlueArrow.png"><a href="TeamWorkNew.html" class="LinkCustom" >فريق العمل</a></li>
</ul>
</div>

</div>
<div class="col-md-9">
<div class="row">

	<div class="col-md-3 col-sm-4 col-xs-6 AboutCustomerImg"><img class="img-responsive" src="Images/awards/aw1.png" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6 AboutCustomerImg"><img class="img-responsive" src="Images/awards/aw1.png" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6 AboutCustomerImg"><img class="img-responsive" src="Images/awards/aw1.png" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6 AboutCustomerImg"><img class="img-responsive" src="Images/awards/aw1.png" /></div>
        
        </div>
        
       
        
 





</div>
</div>
<br>



<br>



<br>




</div>





<!-- -->


<!-- -->






<!-- Content End Inside SubPage -->



<footer class="container-fluid" style="background-color:#424242;">

<div class="row">


<div class="col-sm-4" style="direction:rtl;">


  <h4 style="color:#FFF">البوابات:</h4>
  
  <div class="text-center">
 <a href="#"><img class="FooterSocialIcons" src="Images/fbFooter.png" /></a>
  <a href="#"><img class="FooterSocialIcons" src="Images/twiterFooter.png" /></a>
  <a href="#"><img class="FooterSocialIcons" src="Images/youtubeFooter.png" /></a>
  <a href="#"><img class="FooterSocialIcons" src="Images/googleFooter.png" /></a>
    <a href="#"><img class="FooterSocialIcons" src="Images/LinkedinFooter.png" /></a>
  </div>
  <br />
  
     

     <div class="input-group">
         <input type="text" class="form-control" style="padding:20px 10px" placeholder="ادخل بريدك الإلكتروني">
      <span class="input-group-btn">
        <button class="btn navCustomButtonsBlueFooter" type="button">اشتراك</button>
      </span>
  
    </div><!-- /input-group -->
    
    <br>
    
    
    <div class="text-center" >
     <a href="#" class="FooterSearchBoxLinks" >ضوابط الخدمة</a>
     <a href="#" class="FooterSearchBoxLinks" >سياسة الخصوصية</a>
      <a href="#" class="FooterSearchBoxLinks" >خريطة الموقع</a>
     
      </div>
      
    </div>
    




<div class="col-sm-8" style="direction:rtl;display:inline-block;color:#FFF">

   <ul class="list-unstyled" style="float:right;">
  <li class="list-unstyled" style="font-size:20px">عن المعلومات المتكاملة:</li>
  <li class="list-unstyled"><a href="AboutCustomers.html" class="LinkCustom" >عملاؤنا</a></li>
  <li class="list-unstyled"><a href="IIEPartners.html" class="LinkCustom" >شركاؤنا</a></li>
  <li class="list-unstyled"><a href="IIEAwards.html" class="LinkCustom" >الجوائز والأوسمة</a></li>
  <li class="list-unstyled"><a href="TeamWorkNew.html" class="LinkCustom" >فريق العمل</a></li>
</ul>
 



   <ul class="list-unstyled" style="float:right;">
  <li class="list-unstyled" style="font-size:20px">المنتجات والحلول:</li>
  <li class="list-unstyled"><a href="SubPage.html" class="LinkCustom" >الانترنت المستمر</a></li>
  <li class="list-unstyled"><a href="Hosting.html" class="LinkCustom" >التخزين الآمن</a></li>
  <li class="list-unstyled"><a href="Connection.html" class="LinkCustom" >الاتصال المستمر</a></li>
   <li class="list-unstyled"><a href="SoftAr.html" class="LinkCustom" >سوفتار</a></li>
    <li class="list-unstyled"><a href="ProfesonalServices.html" class="LinkCustom" >الخدمات الاحترافية</a></li>
</ul>


   <ul class="list-unstyled" style="float:right;">
  <li class="list-unstyled" style="font-size:20px">مشاريعنا :</li>
  <li class="list-unstyled"><a href="ProjectsSub.html" class="LinkCustom" >مشروع تصريف السيول بجدة</a></li>
  <li class="list-unstyled"><a href="ProjectsSub -2.html" class="LinkCustom" >مشروع الخطوط السعودية</a></li>
   <li class="list-unstyled"><a href="ProjectsSub -3.html" class="LinkCustom" >مشروع امارة مكة المكرمة</a></li>
   <li class="list-unstyled"><a href="ProjectsSub -4.html" class="LinkCustom" >مشروع أرامكو و CHEC</a></li>
   <li class="list-unstyled"><a href="ProjectsSub -5.html" class="LinkCustom" >مشروع أرامكو و SEPCO</a></li>
   <li class="list-unstyled"><a href="ProjectsSub -6.html" class="LinkCustom" >مشروع الانترنت لشركات نسما</a></li>
   </ul>
    


  
</div>
<br />
<div style="direction:rtl;padding-right:60px;" ><p>جميع الحقوق محفوظة لصالح شركة المعلومات المتكاملة 2016</p>
</div>
  
   
  
  
</div>

</footer>
<div class="footerKyNeche text-right">
<p>wesrtyuio</p>
</div> 
  












<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
</body>

</html>