<!DOCTYPE html>
<html lang="ar">
<head>
 <!--    -->
  <title>IIE Modifcation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
 <link href="/static/Style/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/static/Style/StyleCss.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css"/> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!--  Nav Section Start  -->
<nav class="navbar navbar-default navbar-fixed-top">
 <div class="TopSectionAboveNav">

        <div class="col-sm-4" style="display:inline">
          
   <h6 style="float:left; padding-left:0px; width:35%">920006963 الرقم الموحد</h6>
 
        
        </div>
 
  <!-- <input class="col-sm-2" height="5px" id="searchBox" type="text"> -->
  
     <h6 style="float:right;padding-right:119px"> <span><img src="static/Images/IIENewLogo.png" /></span></h6>
     <div class="clearfix"></div>
  </div>
  <div class="container">
  
    <div class="navbar-header">
  
 		 <!-- 
       <a href="#myPage">  <span class="glyphicon glyphicon-ok-circle" style="padding-top:25px;font-size:5px"></span></a>
           <a class="" href="#myPage">  <span class="glyphicon glyphicon-cloud"></span></a>
           -->
           <div class="TopnavIcons2">
             <a href=""> <img src="/static/Images/lang.png"></a> 
              <a href=""> <img src="/static/Images/share.png"></a> 
           </div>
       
   
       
        <button type="button" class="navCustomButtonsBlue">الدعم الفني</button>
     
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
     
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage"> <img src="/static/Images/iiesmall.png" /></a>
    </div>
    <div class="collapse navbar-collapse movemetoDir" id="myNavbar">
  
      <ul class="nav navbar-nav navbar-right">
        
        <li style="float:inherit"><a href="{{ url_for('list') }}">الرئيسية</a></li>
        <li style="float:inherit" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">عن المعلومات المتكاملة
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="text-align:right;background-color:#CCC">
          <li><a href="AboutIIE/1">عملاؤنا</a></li>
          <li><a href="AboutIIE/2">شركاؤنا</a></li>
          <li><a href="AboutIIE/3"> الجوائز والأوسمة</a></li> 
             <li><a href="/ViewTeamworkAll"> فريق العمل</a></li>
        </ul>
      </li>
        
	 
       
       <li style="float:inherit" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> المنتجات والحلول
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="text-align:right;background-color:#CCC">
          <li><a href="SubPage.html">الانترنت المستمر</a></li>
          <li><a href="Hosting.html">التخزين الآمن</a></li>
          <li><a href="Connection.html">الاتصال المستمر</a></li> 
             <li><a href="SoftAr.html"> سوفتار</a></li>
               <li><a href="ProfesonalServices.html">الخدمات الاحترافية</a></li>
                
        </ul>
      </li>
        
          <li style="float:inherit" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> مشاريعنا 
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="text-align:right;background-color:#CCC">
          <li><a href="ProjectsSub.html">مشروع تصريف السيول بجدة</a></li>
          <li><a href="ProjectsSub -2.html">مشروع الخطوط السعودية</a></li>
          <li><a href="ProjectsSub -3.html"> مشروع امارة مكة المكرمة</a></li> 
             <li><a href="ProjectsSub -4.html">مشروع أرامكو و CHEC</a></li>
               <li><a href="ProjectsSub -5.html">مشروع أرامكو و SEPCO</a></li>
                 <li><a href="ProjectsSub -6.html">  مشروع الانترنت لشركات نسما</a></li>
        </ul>
      </li>
        
       
        
         
        
         <li style="float:inherit"><a href="#">المدونة</a></li>
           <li style="float:inherit"><a href="#">تواصل معنا</a></li>
           
       
      
      
      
       
      
      </ul>
    </div>
  </div>
</nav>
<!--  Nav Section End  -->

<br />
<br />

<!--  Slider  -->


		<!-- Slider Start -->
             

<!-- start Team Members -->
    <div id="jumboCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
	{% set countSlider = 0 %}
	{% for n in range(SliderCount[0]) %}
            <li data-target="#jumboCarousel" data-slide-to="{{ countSlider }}" class="{% if loop.index == 1 %}active{% endif %}"></li>
	      {% set countSlider = countSlider + 1 %}
	{% endfor %}
           
           
        </ol><!-- end carousel-indicators -->

        <!-- Wrapper for Slides -->
        <div class="carousel-inner" role="listbox">
{% for SliderItems in Slider %}
            <div class="item{% if loop.index == 1 %} active{% endif %}" id="slide1">
	     
                <img src="{{SliderItems["SliderImg"]}}" alt="Slide 1">
                <div class="carousel-caption text-nowrap">
                    <h1 class="HeadingSliderCutom">{{SliderItems["SliderHeading"]}}</h1>
                    <div class="NotShowWhenMobile">
                  
 <p>{{SliderItems.Paragraph1}}<span><img src="/static/Images/ArrowBluleHere.png"></span></p>
  <p>{{SliderItems["Paragraph2"]}}<span><img src="/static/Images/ArrowBluleHere.png"></span></p>
  <p>{{SliderItems["Paragraph3"]}}<span><img src="/static/Images/ArrowBluleHere.png"></span></p>
  

   

{% if SliderItems.Paragraph4|length < 1 %}
{% else %}
   <p>{{SliderItems.Paragraph4}}<span><img src="/static/Images/ArrowBluleHere.png"></span></p>
{% endif %}
  
  </div>
  
                 <button type="button" class="SliderCustomButton">{{SliderItems["ButtonLinkTitle"]}}</button>
                </div><!-- end carousel-caption -->
            </div>
	    
{% endfor %}
	    
	    
	    
	    
	    <!-- end slide1 -->
           
         
            <!-- end slide4 -->
        </div><!-- end carousel-inner -->

    </div><!-- end Team Members -->


    
    	<!-- Slider End -->


<!--  Start Tabss All   -->


<div class="tabbable full-width-tabs">
 
    <ul class="nav nav-tabs">
    
  {% for tabsbtnitem in TabsButtons %}
    
        <li class="{% if loop.index == 1 %}active{% endif %} take-all-space-you-can"><a href="#{{tabsbtnitem["TotalLinkTitle"]}}" aria-controls="{{tabsbtnitem["TotalLinkTitle"]}}" role="tab" data-toggle="tab">{{tabsbtnitem["ButtonTitleLineTitle"]}}<img height="25px" width="25px" src="{{tabsbtnitem["Icon"]}}"></a></li>
       
  {% endfor %}
     
    </ul> 

</div> <!-- /tabbable -->

  <!-- Tab panes -->
  <div class="tab-content dm_service_tab TakeitRigh">
  
   
  {% for tabsbtnitem2 in TabsButtons %}
    <div role="tabpanel" class="tab-pane{% if loop.index == 1 %} active{% endif %}" id="{{tabsbtnitem2["TotalLinkTitle"]}}">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
          <img class="img-responsive" src="{{tabsbtnitem2["HeaderImages"]}}">  
          </div>
          
            
          <div class="col-md-3 border-right">
            <ul class="list-unstyled">
	
	    
	
	
	
	
	{% if tabsbtnitem2.Links1|length < 1 %}
	
	{% else %}
 <li class="TopPadding10px"><a href="#"><img src="/static/Images/ArrowGreen.png"> &nbsp; {{tabsbtnitem2.Links1}}</a></li>
	{% endif %}
	
	
	
	{% if tabsbtnitem2.Links2|length < 1 %}
	
	{% else %}
 <li class="TopPadding10px"><a href="#"><img src="/static/Images/ArrowGreen.png"> &nbsp; {{tabsbtnitem2.Links2}}</a></li>
	{% endif %}
	
	<li class="TopPadding10px"><a href="#"><img src="/static/Images/ArrowGreen.png"> &nbsp; {{tabsbtnitem2.Links3}}</a></li>
	
	{% if tabsbtnitem2.Links4|length < 1 %}
	
	{% else %}
 <li class="TopPadding10px"><a href="#"><img src="/static/Images/ArrowGreen.png"> &nbsp; {{tabsbtnitem2.Links4}}</a></li>
	{% endif %}
	
	
	{% if tabsbtnitem2.Links5|length < 1 %}
	
	{% else %}
 <li class="TopPadding10px"><a href="#"><img src="/static/Images/ArrowGreen.png"> &nbsp; {{tabsbtnitem2.Links5}}</a></li>
	{% endif %}
	
	
	{% if tabsbtnitem2.Links6|length < 1 %}
	
	{% else %}
 <li class="TopPadding10px"><a href="#"><img src="/static/Images/ArrowGreen.png"> &nbsp; {{tabsbtnitem2.Links6}}</a></li>
	{% endif %}
	
	
	
	
	    
        
             
            </ul>
	    
        </div>
        
  
        
          <div class="col-md-5">
           
            <p>{{tabsbtnitem2["Description"]}}</p>
          </div>
        </div>
      </div>
    </div>
    
    {% endfor %}
    
    
    
   	 


 

  
  </div>

<br />
<br />


<!--  END Start Tabss All   -->

<!-- Highlighted Container (Domains ) -->

<div id="Ads" class="container-fluid bg-greyMyCustom" >
 <div class="row slideanim">
 
 
 
  <div class="col-sm-6">
    <img src="{{ScreenCenter["Image"]}}" class="img-responsive MoibleCloudPic" style="margin-top:-90px;">
  </div>
  
   <div class="col-sm-6">
   
   
   <div class="screenSection">
   
   <h2 style="margin:0px !important;color:#FFF;">{{ScreenCenter["Heading"]}}</h2>
  <p>{{ScreenCenter["Paragraph"]}}</p>

 

 
  <p style="margin:0px !important;"><span><img src="/static/Images/WhiteTicks.png" /></span>{{ScreenCenter["Bullets1"]}}</p>
 

 <p style="margin:0px !important;"><span><img src="/static/Images/WhiteTicks.png" /></span>{{ScreenCenter["Buttelts2"]}}</p>
 
 
 </div>

 </div>






</div>

 
 
 </div>






<!-- Container (Ads 2 Service) -->

<!--.container-->
<div class="container NotShowWhenMobile">
  <div class="row text-center">
    <h1>عملائنا</h1>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
	
	{% for CustomerSlideItem in CustomerSlider %}
	
          <div class="item  active">
            <div class="row">
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img alt="" src="{{CustomerSlideItem["CustomerImg1"]}}"></a>
              </div>          
              <div class="col-md-2">
              <a class="thumbnail" href="#"><img alt="" src="{{CustomerSlideItem["CustomerImg2"]}}"></a>
              </div>
              <div class="col-md-2">
               <a class="thumbnail" href="#"><img alt="" src="{{CustomerSlideItem["CustomerImg3"]}}"></a>
              </div>  
              
              <div class="col-md-2">
               <a class="thumbnail" href="#"><img alt="" src="{{CustomerSlideItem["CustomerImg4"]}}"></a>
              </div>
              
               <div class="col-md-2">
                <a class="thumbnail" href="#"><img alt="" src="{{CustomerSlideItem["CustomerImg5"]}}"></a>
              </div>
              
               <div class="col-md-2">
              <a class="thumbnail" href="#"><img alt="" src="{{CustomerSlideItem["CustomerImg6"]}}"></a>
              </div>
              
           
                    
            </div>
          </div> 
	  
	  {% endfor %}
	  
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control clientsSliderControl">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control clientsSliderControl">›</a>
      </div>                          
    </div>
  </div>
</div>

<!--.container-->




<!-- Second Part -->


<div class="text-center">
<h1>قالوا عنا</h1>
</div>
<div class="container-fluid text-right">

<div class="row">

<div class="col-md-2">
 <div class="quote"><i class="fa fa-quote-left fa-5x"></i></div>
</div>


<div class="col-md-8">

<div id="myCarousel" class="carousel slide Teambox" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  {% set count = 0 %}
   
  {% for n in range(TestimonialCount[0]) %}
  <li data-target="#myCarousel" data-slide-to="{{ count }}" class="{% if loop.index == 1 %} active{% endif %}"></li>
    
  {% set count = count + 1 %}
{% endfor %}

  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner MobileCenterMe" role="listbox">
    {% for TestimonialItem in Testimonial %} 
   <div class="item{% if loop.index == 1 %} active{% endif %} MobileCenterMe"> 
   <div style="float:right">
   <img class="img-circle" src="{{TestimonialItem["CusImg"]}}" style="width: 100px;height:100px; float:right">
  <h4 style="margin:0px;padding-right:15px;color:#000">{{TestimonialItem["Heading"]}}</h4>
  <p style="margin:0px;padding-right:15px">{{TestimonialItem["Title"]}}</p>
   </div>
    <div style="float:left">
    
    <p style="padding-top:10%;padding-bottom:5%">{{TestimonialItem["Description"]}}</p>


 </div>
    </div>
    
     {% endfor %}

    

    



    
    
  </div>

 
</div>



</div>


<div class="col-md-2">
<div class="quote"><i class="fa fa-quote-right fa-5x"></i></div>
</div>



</div>




</div>





<!--   New Try   -->








<!-- End Container (Ads 2 Service) -->




<footer class="container-fluid" style="background-color:#424242;">

<div class="row slideanim">


<div class="col-sm-4" style="direction:rtl;">


  <h4 style="color:#FFF">البوابات:</h4>
  
  <div class="text-center">
 <a href="#"><img class="FooterSocialIcons" src="/static/Images/fbFooter.png" /></a>
  <a href="#"><img class="FooterSocialIcons" src="/static/Images/twiterFooter.png" /></a>
  <a href="#"><img class="FooterSocialIcons" src="/static/Images/youtubeFooter.png" /></a>
  <a href="#"><img class="FooterSocialIcons" src="/static/Images/googleFooter.png" /></a>
    <a href="#"><img class="FooterSocialIcons" src="/static/Images/LinkedinFooter.png" /></a>
  </div>
  <br />
  
     

     <div class="input-group">
         <input type="text" class="form-control" style="padding:20px 10px" placeholder="ادخل بريدك الإلكتروني">
      <span class="input-group-btn">
        <button class="btn navCustomButtonsBlueFooter" type="button">اشتراك</button>
      </span>
  
    </div><!-- /input-group -->
    
    <br>
    
    
    <div class="text-center" >
     <a href="#" class="FooterSearchBoxLinks" >ضوابط الخدمة</a>
     <a href="#" class="FooterSearchBoxLinks" >سياسة الخصوصية</a>
      <a href="#" class="FooterSearchBoxLinks" >خريطة الموقع</a>
     
      </div>
      
    </div>
    




<div class="col-sm-8" style="direction:rtl;display:inline-block;color:#FFF">

   <ul class="list-unstyled" style="float:right;">
  <li class="list-unstyled" style="font-size:20px">عن المعلومات المتكاملة:</li>
  <li class="list-unstyled"><a href="AboutCustomers.html" class="LinkCustom" >عملاؤنا</a></li>
  <li class="list-unstyled"><a href="IIEPartners.html" class="LinkCustom" >شركاؤنا</a></li>
  <li class="list-unstyled"><a href="IIEAwards.html" class="LinkCustom" >الجوائز والأوسمة</a></li>
  <li class="list-unstyled"><a href="TeamWorkNew.html" class="LinkCustom" >فريق العمل</a></li>
</ul>
 



   <ul class="list-unstyled" style="float:right;">
  <li class="list-unstyled" style="font-size:20px">المنتجات والحلول:</li>
  <li class="list-unstyled"><a href="SubPage.html" class="LinkCustom" >الانترنت المستمر</a></li>
  <li class="list-unstyled"><a href="Hosting.html" class="LinkCustom" >التخزين الآمن</a></li>
  <li class="list-unstyled"><a href="Connection.html" class="LinkCustom" >الاتصال المستمر</a></li>
   <li class="list-unstyled"><a href="SoftAr.html" class="LinkCustom" >سوفتار</a></li>
    <li class="list-unstyled"><a href="ProfesonalServices.html" class="LinkCustom" >الخدمات الاحترافية</a></li>
</ul>


   <ul class="list-unstyled" style="float:right;">
  <li class="list-unstyled" style="font-size:20px">مشاريعنا :</li>
  <li class="list-unstyled"><a href="ProjectsSub.html" class="LinkCustom" >مشروع تصريف السيول بجدة</a></li>
  <li class="list-unstyled"><a href="ProjectsSub -2.html" class="LinkCustom" >مشروع الخطوط السعودية</a></li>
   <li class="list-unstyled"><a href="ProjectsSub -3.html" class="LinkCustom" >مشروع امارة مكة المكرمة</a></li>
   <li class="list-unstyled"><a href="ProjectsSub -4.html" class="LinkCustom" >مشروع أرامكو و CHEC</a></li>
   <li class="list-unstyled"><a href="ProjectsSub -5.html" class="LinkCustom" >مشروع أرامكو و SEPCO</a></li>
   <li class="list-unstyled"><a href="ProjectsSub -6.html" class="LinkCustom" >مشروع الانترنت لشركات نسما</a></li>
   </ul>
    


  
</div>
<br />
<div style="direction:rtl;padding-right:60px;" ><p>جميع الحقوق محفوظة لصالح شركة المعلومات المتكاملة 2016</p>
</div>
  
   
  
  
</div>

</footer>

<!--
<div class="footerKyNeche text-right">
<p>wesrtyuio</p>
</div> 

-->
  












<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
</body>

</html>